.footer {
  
  max-width: 1440px;
  background: url(../img/footer-image.png) no-repeat center/cover;
  color: white;
  height: 80vh;
  @media only screen and (max-width: 375px) {
  height: 156vh;
} 

  &__container {
    background-color: rgba($color: #5067b3, $alpha: 0.6);
    padding :3rem 1rem 2rem 4rem;
    @media only screen and (max-width: 375px) {
      padding :1rem 1rem 3rem 1rem;
  } 
  }
    &__header {
      text-align: center;
      margin-bottom: 3rem;
      h4{
        margin-bottom: 3rem;
      }
    }
    .main{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      p{
       margin: 1.5rem 0rem 0rem -2rem;
        text-align: center;
      }
    }

  }
  .footer__adresse__icon{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media only screen and (max-width: 375px) {
      justify-content: center;
   }
    p{
      margin-bottom: 3rem;
      
    }
    a{
      color: white;
      text-decoration: underline;
      margin-right: 1rem;
    }
    .footer__icon{
      padding-top: 3rem;
      @media only screen and (max-width: 375px) {
        padding-left: 5rem;
     }

     img{
      margin-bottom: 3rem;
     }
    }
   
  }
  @media only screen and (max-width: 375px) {
    #btn-marg{
      margin-left: 1rem;
    }
} 


 
  















    // width: 1400px;

//   header {
//     text-align: center;
//     padding-top: 50px;
//   }

//   main {
//     display: flex;
//     flex-wrap: wrap;
//     // justify-content: space-between;
    
//     justify-content: center;
//     // justify-items: center;
//     margin: 40px;
//   }
//   .footer__btn1 {
//     margin-right: 20px;
//   }

//   .footer__btn1 button {
//     background-color: white;
//     color: black;

//     border-radius: 5px;
//     text-align: center;
//     padding: 10px;
//     width: 200px;
//     border: none;
//     margin-left: 40px;
//   }
//   .footer__btn1 {
//     p {
//       text-align: center;
//     }
//   }

//   .footer__btn2 button {
//     background-color: #35c2cd;
//     border-radius: 5px;
//     text-align: center;
//     padding: 10px;
//     width: 200px;
//     border: none;
//   }
// }
// .footer__btn2 {
//   p {
//     text-align: center;
//   }
// }
// .footer__adresse__icon {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   margin-top: 100px;
//   text-align: center;
//   margin: 25px 50px 75px 100px;

//   a {
//     color: white;
//     margin: 10px;
//     border-bottom: 2px solid white;
//   }
//   .footer__adresse {
//     margin-left: 100px;
//     padding-bottom: 50px;
//     text-align: start;
//     // text-align: center;
//   }
//     margin-right: 80px;
//     img {

//     p {
//       margin-top: 30px;
//     }
//   }
// }
// }