<<<<<<< HEAD
.header {
  
    nav img {
        width: 126px;
        margin-right: 20px;
    }
   
=======
header {
    ul {
        display: flex;

    }
>>>>>>> 58ff8e520f8085c7cd04166aeca157c7eff07034
}