.my_main {
    font-family: 'PT Sans', sans-serif;
    background-color:rgb(245, 245, 245);

    .title_main {

        h1{
            text-align: center;
            color: rgb(66, 65, 65);
        }
        h4 {
            text-align: center;
            
           }
            
            
        }
    }