.client {

    h4 {
        text-align: center;
    }

    .articles {

        display: flex;
        justify-content: space-around;
        margin-top: 90px;
        flex-wrap: wrap;;

        p {
            max-width: 500px;
            padding: 20px 0 30px 0;
        }

        .article_title {
            strong {
                margin: 40px 0px 0px 20px;
                span {
                    color: rgb(80, 103, 179) 
                }
            }
        }
    }
}
