@import "TITLE.scss";

.my_main {
    font-family: 'PT Sans', sans-serif;
    background-color: #eff1f7;
    margin-top: -3rem;
    img {
        margin-bottom: 20px;
    }

}

.title_main {

    h1 {
        @include title(rgb(73, 73, 73), 50px);
        padding-top: 70px;
    }


    h4 {
        @include title(rgb(80, 103, 179), 24px);
    }
}

.main_section {
    display: flex;
    text-align: center;
    margin-top: 100px;
    justify-content: space-around;
    flex-wrap: wrap;


    h4 {
        color: rgb(73, 73, 73);
    }

}

