@import "equipe_name";
.equip{
  position: relative;
  background: url("../img/team-member-1.png") no-repeat center/cover;
  height: 90vh;
  h1{
    text-align: center;
    font-size: 4rem; 
  }
  }

